body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff;
    margin: 100px auto;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h1 {
    font-size: 36px;
    color: #333333;
    margin-bottom: 30px;
}

form {
    margin-top: 30px;
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.error {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}


.footer {
    background-color: darkgray;
    padding: 20px;
    text-align: center;
    margin-top: 500px;
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: #fff;
}

.footer p span {
    color: #aaa;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
