<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Cars</title>
</head>
<body>
<h1>All Cars</h1>
<table>
    <tr>
        <th>Vehicle Number</th>
        <th>Frame Number</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Make</th>
        <th>Color</th>
        <th>Fuel Type</th>
        <th>Gear Type</th>
        <th>Motor</th>
        <th>Price</th>
        <th>Flow</th>
    </tr>
    <tr th:each="cars : ${car}">
        <td th:text="${cars.vehicle_number}"></td>
        <td th:text="${cars.frame_number}"></td>
        <td th:text="${cars.brand}"></td>
        <td th:text="${cars.model}"></td>
        <td th:text="${cars.make}"></td>
        <td th:text="${cars.color}"></td>
        <td th:text="${cars.fuel_type}"></td>
        <td th:text="${cars.gear_type}"></td>
        <td th:text="${cars.motor}"></td>
        <td th:text="${cars.price}"></td>
        <td th:text="${cars.flow}"></td>
    </tr>
</table>
</body>
</html>