<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Dashboard</title>
    <link rel="stylesheet" href="home.css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">



    <style>
        .footer {
            background-color: ghostwhite;
            color: black;
            padding: 10px;
            text-align: center;
            margin-top: 800px;
        }

        .center {
            text-align: center;
            margin-top: 150px;
        }

        h1 {
            margin-bottom: 20px;
        }


    </style>
</head>
<body>
<div th:include="navbar.html"></div>



<div class="center">
    <h1>Velkommen, <span th:text="${(username)}"></span> !</h1>
    <p>Vælg en af overstående for at komme i gang!</p>
</div>

<div class="footer">
    <p>© 2023 BA - Bil Abonnementen. All rights reserved.</p>
</div>

</body>
</html>
