<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BA</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<div class="header">
    <h1 class="title">BA</h1>
</div>
//ikk færdigt
<div class="firstLine">
    <a href="car">  <button>Se alle biler</button></a>
    <a href="report">  <button>Damage Reports</button></a>
    <a href="report">  <button>Damage Reports</button></a>
</div>
<div class="secondLine">
    <a href="car">  <button>Se alle biler</button></a>
    <a href="report">  <button>Damage Reports</button></a>
    <a href="report">  <button>Damage Reports</button></a>
</div>

<div class="footer">
    <p>© 2023 BA - Bil Abonnementen. All rights reserved.</p>
</div>

</body>
</html>