<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ledige biler</title>
    <link rel="stylesheet" href="cars.css">

</head>
<body><div class="container">
    <div class="header">

        <div class="dashboard">
            <h1 class="title">BA</h1>
            <div class="dashboard-item">
                <button class="dashboard-button">Dataregistrering</button>
                <div class="dropdown">
                    <a href="opretlegekontrakt">Opret lejelkontrakt</a>
                    <a href="selegekontrakt">Se lejekontrakt</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Skade og udbedring</button>
                <div class="dropdown">
                    <a href="opretskaderapport">Opret skade rapport</a>
                    <a href="skaderapport">Se skade rapport</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Rapportering og overvågning</button>
                <div class="dropdown">
                    <a href="seallebiler">Se alle biler</a>
                    <a href="ledigbiler">se ledige biler</a>
                    <a href="sammenlagtpris">Sammenlagt pris på nuværende udlejede biler</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Users</button>
                <div class="dropdown">
                    <a href="personale">Personale</a>
                </div>
            </div>
        </div>

    </div>
<h1>Ledige biler</h1>
<table>
    <thead>
    <tr>
        <th>Vehicle Number</th>
        <th>Frame Number</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Make</th>
        <th>Color</th>
        <th>Fuel Type</th>
        <th>Gear Type</th>
        <th>Moter</th>
        <th>Price</th>
        <th>Flow</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through the cars and populate the table rows -->
    <tr th:each="car: ${available}">
        <td th:text="${car.vehicle_number}"></td>
        <td th:text="${car.frame_number}"></td>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.make}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.fuel_type}"></td>
        <td th:text="${car.gear_type}"></td>
        <td th:text="${car.motor}"></td>
        <td th:text="${car.price}"></td>
        <td th:text="${car.flow}"></td>
    </tr>
    </tbody>
</table>
</div>
<div class="footer">
    <p>© 2023 BA - Bil Abonnementen. All rights reserved.</p>
</div>
</body>
</html>

</body>
</html>