<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ledige biler</title>
    <link rel="stylesheet" href="home.css">
  <style>
      .search-container {
          max-width: 600px;
          margin: 0 auto;
          margin-bottom: 20px;
      }

      .search-container input {
          width: 100%;
          padding: 5px;
          margin-top: 5px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box; /* Add this line to include padding and border in the element's total width */
      }
  </style>
</head>
<div th:include="navbar.html"></div>
    <h1>Ledige biler</h1>

    <div class="search-container">
        <input type="text" id="search-input" placeholder="Søg...">
    </div>

    <script>
        var searchInput = document.getElementById("search-input");

        searchInput.addEventListener("input", function() {
            var searchTerm = searchInput.value.toLowerCase();
            var tableRows = document.getElementsByTagName("tr");

            for (var i = 1; i < tableRows.length; i++) {
                var cells = tableRows[i].getElementsByTagName("td");
                var found = false;

                for (var j = 0; j < cells.length; j++) {
                    var cellValue = cells[j].textContent.toLowerCase();
                    if (cellValue.includes(searchTerm)) {
                        found = true;
                        break;
                    }
                }

                tableRows[i].style.display = found ? "" : "none";
            }
        });
    </script>

    <table>
        <thead>
        <tr>
            <th>Vehicle Number</th>
            <th>Frame Number</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Make</th>
            <th>Color</th>
            <th>Fuel Type</th>
            <th>Gear Type</th>
            <th>Moter</th>
            <th>Price</th>
            <th>Flow</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the cars and populate the table rows -->
        <tr th:each="car: ${available}">
            <td th:text="${car.vehicle_number}"></td>
            <td th:text="${car.frame_number}"></td>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.make}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.fuel_type}"></td>
            <td th:text="${car.gear_type}"></td>
            <td th:text="${car.motor}"></td>
            <td th:text="${car.price}"></td>
            <td th:text="${car.flow}"></td>

        </tr>
        </tbody>
    </table>

<div class="footer">
    <p>© 2023 BA - Bil Abonnementen. All rights reserved.</p>
</div>

</html>