<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1> opdater kunde </h1>
<div class="opret kunde">
    <form method="post" action="/opdaterkunden">
        <label for="full_name">Fullname:</label>
        <input type="text" id="full_name" name="full_name"  th:value="${opdater.getFull_name()}"><br><br>

        <input type="hidden"  name="customer_id"  th:value="${opdater.getCustomer_id()}">

        <label for="email">email:</label>
        <input type="text" id="email" name="email" th:value="${opdater.getEmail()}" ><br><br>

        <label for="phone">phone:</label>
        <input type="number" id="phone" name="phone" th:value="${opdater.getPhone()}"><br><br>

        <label for="address">address:</label>
        <input type="text" id="address" name="address" th:value="${opdater.getAddress()}"><br><br>

        <label for="cpr">cpr:</label>
        <input type="number" id="cpr" name="cpr" th:value="${opdater.getCpr()}"><br><br>

        <input type="submit" value="opdater kunde">
    </form>
</div>
</body>
</html>