<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Opdater bilen</title>
    <link rel="stylesheet" href="home.css">
    <div th:include="navbar.html"></div>

</head>
<body>


    <div class="opdater bil">
        <h1>Opdater bil</h1>

        <form action="/carupdate" method="post">
            <input type="hidden" id="vehicle_number" name="vehicle_number" th:value="${opdater.vehicle_number}" ><br><br>

            <label for="frame_number">Frame Number:</label>
            <input type="text" id="frame_number" name="frame_number" th:value="${opdater.frame_number}" ><br><br>

            <label for="brand">Brand:</label>
            <input type="text" id="brand" name="brand" th:value="${opdater.brand}" ><br><br>

            <label for="model">Model:</label>
            <input type="text" id="model" name="model" th:value="${opdater.model}" ><br><br>

            <label for="make">Make:</label>
            <input type="number" id="make" name="make" th:value="${opdater.make}" ><br><br>

            <label for="color">Color:</label>
            <input type="text" id="color" name="color" th:value="${opdater.color}" ><br><br>

            <label for="price">Price:</label>
            <input type="number" id="price" name="price" th:value="${opdater.price}" ><br><br>

            <label for="flow">Flow:</label>
            <input type="number" id="flow" name="flow" th:value="${opdater.flow}" ><br><br>

            <label for="odometer">Odometer:</label>
            <input type="number" id="odometer" name="odometer" th:value="${opdater.odometer}"><br><br>

            <label for="fuel_type">Fuel Type:</label>
            <input type="text" id="fuel_type" name="fuel_type" th:value="${opdater.fuel_type}"><br><br>

            <label for="motor">Motor:</label>
            <input type="text" id="motor" name="motor" th:value="${opdater.motor}"><br><br>

            <label for="gear_type">Gear Type:</label>
            <input type="text" id="gear_type" name="gear_type" th:value="${opdater.gear_type}"><br><br>

            <input type="submit" value="Opdater">
        </form>

    </div>

<div class="footer">
    <p>© 2023 BA - Bil Abonnementen. All rights reserved.</p>
</div>
</body>
</html>