<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret personale</title>

    <link rel="stylesheet" href="personale.css">

</head>
<body>

<div class="container">
    <div class="header">

        <div class="dashboard">
            <h1 class="title">BA</h1>
            <div class="dashboard-item">
                <button class="dashboard-button">Dataregistrering</button>
                <div class="dropdown">
                    <a href="opretlegekontrakt">Opret lejekontrakt</a>
                    <a href="selegekontrakt">Se lejekontrakt</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Skade og udbedring</button>
                <div class="dropdown">
                    <a href="opretskaderapport">Opret skade rapport</a>
                    <a href="skaderapport">Se skade rapport</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Rapportering og overvågning</button>
                <div class="dropdown">
                    <a href="seallebiler">Se alle biler</a>
                    <a href="ledigbiler">Se ledige biler</a>
                    <a href="sammenlagtpris">Sammenlagt pris på nuværende udlejede biler</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Users</button>
                <div class="dropdown">
                    <a href="personale">Personale</a>
                </div>
            </div>
        </div>


    <h1>Opret Personale</h1>
    <form method="post" action="/opretPersonaler">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="user_password">User password:</label>
        <input type="text" id="user_password" name="user_password" required>

        <label for="full_name">Full name:</label>
        <input type="text" id="full_name" name="full_name" required>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required>


        <input type="hidden" id="is_active" name="is_active" value=1>


        <input type="hidden" id="is_admin" name="is_admin" value=0>

        <button type="submit">Opret</button>
    </form>


    </div>
</div>
</body>
</html>