<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lejekontrakt</title>

    <link rel="stylesheet" href="home.css">
    <div th:include="navbar.html"></div>

</head>
<body>


    <h1> Oprettelsen af en lejekontrakt</h1>

    <h1>
        <a href="/opretNyKunde">
            <button> Opret ny kunde</button>
        </a>
        <a href="/opretKontrakt">
            <button>
                Eksisterende kunde
            </button>
        </a>
    </h1>




</body>

    <div class="footer" style="margin-top: 600px">
        <p>© 2023 BA - Bil Abonnementen. All rights reserved.</p>
    </div>

</html>