<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lejekontrakt</title>
    <link rel="stylesheet" href="personale.css">
</head>
<body>
<div class="container">
    <div class="header">

        <div class="dashboard">
            <h1 class="title">BA</h1>
            <div class="dashboard-item">
                <button class="dashboard-button">Dataregistrering</button>
                <div class="dropdown">
                    <a href="opretlegekontrakt">Opret lejekontrakt</a>
                    <a href="selegekontrakt">Se lejekontrakt</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Skade og udbedring</button>
                <div class="dropdown">
                    <a href="opretskaderapport">Opret skade rapport</a>
                    <a href="skaderapport">Se skade rapport</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Rapportering og overvågning</button>
                <div class="dropdown">
                    <a href="seallebiler">Se alle biler</a>
                    <a href="ledigbiler">Se ledige biler</a>
                    <a href="sammenlagtpris">Sammenlagt pris på nuværende udlejede biler</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Users</button>
                <div class="dropdown">
                    <a href="personale">Personale</a>
                </div>
            </div>
        </div>



        <h1> Opret lejekontrakt</h1>


<div class="create customer">

    <button>
        Opret ny kunde
    </button>

</div>

    <title>Title</title>
</div>


<h1> Oprettelsen af en lejekontrakt </h1>


<h2> Opret en kunde</h2>


<form method="post" action="/opretenkunde">




    <label for="fullname">fullname:</label>
    <input type="text" id="fullname" name="full_name" required><br><br>

    <label for="email">email:</label>
    <input type="text" id="email" name="email" required><br><br>

    <label for="phone">phone:</label>
    <input type="text" id="phone" name="phone" required><br><br>

    <label for="address">address:</label>
    <input type="text" id="address" name="address" required><br><br>

    <label for="cpr">cpr:</label>
    <input type="text" id="cpr" name="cpr" required><br><br>

    <button type="submit">Opret kunde</button>
</form>


<p th:text="${kunde}"></p>
</div>
</body>
</html>