<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret skaderapport</title>
</head>
<body>
<div class="tilføj bil">
    <h1>Opret skaderapport</h1>
    <form method="post" action="/createNew">
        <label for="total_price">total pris:</label>
        <input type="text" id="total_price" name="total_price" required><br><br>

        <label for="contract_id">contrat id:</label>
        <input type="text" id="contract_id" name="contract_id" required><br><br>
        <input type="submit" value="Opret">
    </form>


</div>
</body>
</html>