<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret ny kunde</title>
    <link rel="stylesheet" href="home.css">
    <div th:include="navbar.html"></div>
</head>
<style>
    .updateSubmit{
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<body>

<h1>Opret kunde</h1>
<div class="opret kunde">
    <form method="post" action="/opretenkunde">
        <label for="full_name">Fullname:</label>
        <input type="text" id="full_name" name="full_name" required><br><br>

        <label for="email">email:</label>
        <input type="text" id="email" name="email" required><br><br>

        <label for="phone">phone:</label>
        <input type="number" id="phone" name="phone" required><br><br>

        <label for="address">address:</label>
        <input type="text" id="address" name="address" required><br><br>

        <label for="cpr">cpr:</label>
        <input type="number" id="cpr" name="cpr" required><br><br>

        <input class="updateSubmit" type="submit" value="opret kunde">
    </form>
</div>

<div class="footer">
    <p>© 2023 BA - Bil Abonnementen. All rights reserved.</p>
</div>
</body>
</html>