<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personale</title>
    <link rel="stylesheet" href="home.css">

</head>
<body>
<div class="container">
    <div class="header">

        <div class="dashboard">
            <a href="/">
                <img class="logo" src="images/BILABONNEMENT_rgb_mmahqw.png" alt="Logo">
            </a>
            <div class="dashboard-item">
                <button class="dashboard-button">Dataregistrering</button>
                <div class="dropdown">
                    <a href="opretlejekontrakt">Opret lejekontrakt</a>
                    <a href="selejekontrakt">Se lejekontrakt</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Skade og udbedring</button>
                <div class="dropdown">
                    <a href="skaderapport">skade rapport</a>
                    <a href="skader">Se priser på skader</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Rapportering og overvågning</button>
                <div class="dropdown">
                    <a href="seallebiler">Se alle biler</a>
                    <a href="ledigbiler">Se ledige biler</a>
                    <a href="sammenlagtpris">Sammenlagt pris på nuværende udlejede biler</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Personale</button>
                <div class="dropdown">
                    <a href="personale">Se ansatte</a>
                </div>
            </div>
        </div>

    </div>
    <h1>Personale</h1>
    <div class="create employee">

        <a href="/opretPersonale">
            <button>
                Opret ny medarbejder
            </button>
        </a>


    </div>

    <table>

        <thead>
        <tr>
            <th>Brugernavn</th>
            <th>Adgangskode</th>
            <th>Fuldenavn</th>
            <th>Email</th>
            <th>Telefon nr</th>
            <th>Aktiv</th>
            <th>Admin</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the cars and populate the table rows -->
        <tr th:each="employee:${employees}">
            <td th:text="${employee.username}"></td>
            <td th:text="${employee.user_password}"></td>
            <td th:text="${employee.full_name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phone}"></td>
            <td th:text="${employee.is_active}"></td>
            <td th:text="${employee.is_admin}"></td>
            <td> <a th:href="@{'/personale/'+${employee.username}}">  <button> gør bruger inaktiv </button></a></td>

        </tr>
        </tbody>
    </table>
</div>
<div class="footer">
    <p>© 2023 BA - Bil Abonnementen. All rights reserved.</p>
</div>

</body>
</html>