<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pris</title>
    <link rel="stylesheet" href="home.css">

    <style>
        .search-container {
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        .search-container input {
            width: 100%;
            padding: 5px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box; /* Add this line to include padding and border in the element's total width */
        }

    </style>
</head>
<body><div class="container">
    <div class="header">
        <div class="dashboard">
            <a href="home">
                <img class="logo" src="images/BILABONNEMENT_rgb_mmahqw.png" alt="Logo">
            </a>
            <div class="dashboard-item">
                <button class="dashboard-button">Dataregistrering</button>
                <div class="dropdown">
                    <a href="opretlejekontrakt">Opret lejekontrakt</a>
                    <a href="selejekontrakt">Se lejekontrakt</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Skade og udbedring</button>
                <div class="dropdown">
                    <a href="skaderapport">   Skaderapport </a>
                    <a href="skader">Se priser på skader</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Rapportering og overvågning</button>
                <div class="dropdown">
                    <a href="seallebiler">Se alle biler</a>
                    <a href="ledigbiler">Se ledige biler</a>
                    <a href="sammenlagtpris">Sammenlagt pris på nuværende udlejede biler</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Personale</button>
                <div class="dropdown">
                    <a href="personale">Se ansatte</a>
                </div>
            </div>
        </div>
    </div>
    <h1>
        <p>Sammenlagt pris pr. måned for udlejet biler: <span th:text="${totalPrice}"></span></p>
    </h1>

    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Søg..." />

    </div>

    <h2>Liste af udlejet biler:</h2>
    <table>
        <thead>
        <tr>
            <th>bil nr</th>
            <th>stel nr</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Årgang</th>
            <th>Farve</th>
            <th>Brændstof type</th>
            <th>Gear Type</th>
            <th>Motor</th>
            <th>Pris</th>
            <th>Odometer</th>
            <th>Flow</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the rented cars and populate the table rows -->
        <tr th:each="car : ${rentedCars}">
            <td th:text="${car.vehicle_number}"></td>
            <td th:text="${car.frame_number}"></td>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.make}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.fuel_type}"></td>
            <td th:text="${car.gear_type}"></td>
            <td th:text="${car.motor}"></td>
            <td th:text="${car.price}"></td>
            <td th:text="${car.odometer}"></td>
            <td th:text="${car.flow}"></td>
        </tr>
        </tbody>
    </table>

    <script>
        const searchInput = document.getElementById('searchInput');
        const tableRows = document.querySelectorAll('tbody tr');

        searchInput.addEventListener('input', function () {
            const searchValue = searchInput.value.toLowerCase();

            tableRows.forEach(function (row) {
                const carData = row.textContent.toLowerCase();

                if (carData.includes(searchValue)) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    </script>



    <div class="footer">
    <p>© 2023 BA - Bil Abonnementen. All rights reserved.</p>
</div>

</body>
</html>