<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alle biler</title>
    <div th:include="navbar.html"></div>
    <link rel="stylesheet" href="table.css">


    <style>

        .search-container {
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        .search-container input {
            width: 100%;
            padding: 5px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box; /* Add this line to include padding and border in the element's total width */
        }
    </style>


</head>
<body>


    <h1>Alle biler</h1>

    <a href="tilføjBiler">
        <button class="addCarButton">
            Tilføj bil
        </button>
    </a>

    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search...">
    </div>

    <script>
        var searchInput = document.getElementById("search-input");

        searchInput.addEventListener("input", function() {
            var searchTerm = searchInput.value.toLowerCase();
            var tableRows = document.getElementsByTagName("tr");

            for (var i = 1; i < tableRows.length; i++) {
                var cells = tableRows[i].getElementsByTagName("td");
                var found = false;

                for (var j = 0; j < cells.length; j++) {
                    var cellValue = cells[j].textContent.toLowerCase();
                    if (cellValue.includes(searchTerm)) {
                        found = true;
                        break;
                    }
                }

                tableRows[i].style.display = found ? "" : "none";
            }
        });
    </script>


    <table>
        <thead>
        <tr>
            <th>bil nr</th>
            <th>stel nr</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Årgang</th>
            <th>Farve</th>
            <th>Brændstof type</th>
            <th>Gear Type</th>
            <th>Motor</th>
            <th>Pris</th>
            <th>Odometer</th>
            <th>Flow</th>

        </tr>
        </thead>
        <tbody>
        <!-- Loop through the cars and populate the table rows -->
        <tr th:each="car : ${cars}">
            <td th:text="${car.vehicle_number}"></td>
            <td th:text="${car.frame_number}"></td>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.make}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.fuel_type}"></td>
            <td th:text="${car.gear_type}"></td>
            <td th:text="${car.motor}"></td>
            <td th:text="${car.price}"></td>
            <td th:text="${car.odometer}"></td>
            <td th:text="${car.flow}"></td>
            <td>  <a th:href="@{'/deleteOne/'+${car.vehicle_number}}">
                <button class="btn-deleteOne" id="btn-deleteOne">Slet bil</button>
            </a></td>
            <td>  <a th:href="@{'/opdaterBilen/'+${car.vehicle_number}}">
                <button class="btnOpdater">Opdater bil</button>
            </a></td>

        </tr>
        </tbody>
    </table>

    <div class="footer">
        <p>© 2023 BA - BilAbonnement. All rights reserved.</p>
    </div>
</body>
</html>
