<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Se lejekontrakt</title>
    <link rel="stylesheet" href="home.css">

</head>
<body>

<div class="container">
    <div class="header">

        <div class="dashboard">
            <a href="/">
                <img class="logo" src="images/BILABONNEMENT_rgb_mmahqw.png" alt="Logo">
            </a>
            <div class="dashboard-item">
                <button class="dashboard-button">Dataregistrering</button>
                <div class="dropdown">
                    <a href="opretlejekontrakt">Opret lejekontrakt</a>
                    <a href="selejekontrakt">Se lejekontrakt</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Skade og udbedring</button>
                <div class="dropdown">
                    <a href="opretskaderapport">Opret skade rapport</a>
                    <a href="skaderapport">Se priser på skader</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Rapportering og overvågning</button>
                <div class="dropdown">
                    <a href="seallebiler">Se alle biler</a>
                    <a href="ledigbiler">Se ledige biler</a>
                    <a href="sammenlagtpris">Sammenlagt pris på nuværende udlejede biler</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Personale</button>
                <div class="dropdown">
                    <a href="personale">Se ansatte</a>
                </div>
            </div>
        </div>
    </div>


        <h1>Lejekontrakter</h1>
        <table>
            <tr>
                <th>Contract ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Price</th>
                <th>Vehicle Number</th>
                <th>Username</th>
                <th>Customer ID</th>
            </tr>
            <tbody>
            <tr th:each="leasingContract : ${LC}">
                <td th:text="${leasingContract.contract_id}"></td>
                <td th:text="${leasingContract.start_date}"></td>
                <td th:text="${leasingContract.end_date}"></td>
                <td th:text="${leasingContract.price}"></td>
                <td th:text="${leasingContract.vehicle_number}"></td>
                <td th:text="${leasingContract.username}"></td>
                <td th:text="${leasingContract.customer_id}"></td>
            </tr>
            </tbody>
        </table>

<h1 th:text="${username}"></h1>

        <div class="footer">
            <p>© 2023 BA - Bil Abonnementen. All rights reserved.</p>
        </div>
</body>
</html>