<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Se lejekontrakt</title>
    <link rel="stylesheet" href="home.css">

   <style>
       .search-container {
           max-width: 600px;
           margin: 0 auto;
           margin-bottom: 20px;
       }

       .search-container input {
           width: 100%;
           padding: 5px;
           margin-top: 5px;
           border: 1px solid #ccc;
           border-radius: 4px;
           box-sizing: border-box; /* Add this line to include padding and border in the element's total width */
       }
   </style>

</head>
<body>

<div class="container">
    <div class="header">

        <div class="dashboard">
            <a href="home">
                <img class="logo" src="images/BILABONNEMENT_rgb_mmahqw.png" alt="Logo">
            </a>
            <div class="dashboard-item">
                <button class="dashboard-button">Dataregistrering</button>
                <div class="dropdown">
                    <a href="opretlejekontrakt">Opret lejekontrakt</a>
                    <a href="selejekontrakt">Se lejekontrakt</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Skade og udbedring</button>
                <div class="dropdown">
                    <a href="skaderapport">   Skaderapport </a>
                    <a href="skader">Se priser på skader</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Rapportering og overvågning</button>
                <div class="dropdown">
                    <a href="seallebiler">Se alle biler</a>
                    <a href="ledigbiler">Se ledige biler</a>
                    <a href="sammenlagtpris">Sammenlagt pris på nuværende udlejede biler</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Personale</button>
                <div class="dropdown">
                    <a href="personale">Se ansatte</a>
                </div>
            </div>
        </div>
    </div>


    <h1>Lejekontrakter</h1>
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Søg...">
    </div>
    <table>
        <thead>
        <tr>
            <th>Contract ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Price</th>
            <th>Vehicle Number</th>
            <th>Username</th>
            <th>Customer ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="leasingContract : ${LC}">
            <td th:text="${leasingContract.contract_id}"></td>
            <td th:text="${leasingContract.start_date}"></td>
            <td th:text="${leasingContract.end_date}"></td>
            <td th:text="${leasingContract.price}"></td>
            <td th:text="${leasingContract.vehicle_number}"></td>
            <td th:text="${leasingContract.username}"></td>
            <td th:text="${leasingContract.customer_id}"></td>
        </tr>
        </tbody>
    </table>

    <script>
        var searchInput = document.getElementById("search-input");

        searchInput.addEventListener("input", function() {
            var searchTerm = searchInput.value.toLowerCase();
            var tableRows = document.getElementsByTagName("tr");

            for (var i = 1; i < tableRows.length; i++) {
                var cells = tableRows[i].getElementsByTagName("td");
                var found = false;

                for (var j = 0; j < cells.length; j++) {
                    var cellValue = cells[j].textContent.toLowerCase();
                    if (cellValue.includes(searchTerm)) {
                        found = true;
                        break;
                    }
                }

                tableRows[i].style.display = found ? "" : "none";
            }
        });
    </script>

    <h1 th:text="${username}"></h1>


    <div class="footer">
            <p>© 2023 BA - Bil Abonnementen. All rights reserved.</p>
        </div>
</body>
</html>