<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret skaderapport</title>
    <div th:include="navbar.html"></div>
    <link rel="stylesheet" href="table.css">

</head>
<body>

<h1>Skadesrapport</h1>
    <a href="skaderapportopret">
        <button class="createDamageRep">
            Opret en skadesrapport
        </button>
    </a>
    <table>
        <thead>
        <tr>
            <th>report id</th>
            <th>total price</th>
            <th>contract id</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the cars and populate the table rows -->
        <tr th:each="damage_report : ${damage_report}">
            <td th:text="${damage_report.report_id}"></td>
            <td th:text="${damage_report.total_price}"></td>
            <td th:text="${damage_report.contract_id}"></td>
        </tr>
        </tbody>
    </table>


<div class="footer">
    <p>© 2023 BA - BilAbonnement. All rights reserved.</p>
</div>
</body>

</html>