<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Skaderapport</title>
    <link rel="stylesheet" href="home.css">

    <style>
        .search-container {
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        .search-container input {
            width: 100%;
            padding: 5px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box; /* Add this line to include padding and border in the element's total width */
        }

    </style>
</head>
<body>
<div class="container">
    <div class="header">

        <div class="dashboard">
            <a href="home">
            <img class="logo" src="images/BILABONNEMENT_rgb_mmahqw.png" alt="Logo">
        </a>
            <div class="dashboard-item">
                <button class="dashboard-button">Dataregistrering</button>
                <div class="dropdown">
                    <a href="opretlejekontrakt">Opret lejekontrakt</a>
                    <a href="selejekontrakt">Se lejekontrakt</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Skade og udbedring</button>
                <div class="dropdown">
                    <a href="skaderapport">   Skaderapport </a>
                    <a href="skader">Se priser på skader</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Rapportering og overvågning</button>
                <div class="dropdown">
                    <a href="seallebiler">Se alle biler</a>
                    <a href="ledigbiler">Se ledige biler</a>
                    <a href="sammenlagtpris">Sammenlagt pris på nuværende udlejede biler</a>
                </div>
            </div>
            <div class="dashboard-item">
                <button class="dashboard-button">Personale</button>
                <div class="dropdown">
                    <a href="personale">Se ansatte</a>
                </div>
            </div>
        </div>

    </div>

    <h1>Prisliste på skader</h1>
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Søg...">
    </div>
    <table>
        <thead>
        <tr>
            <th>Kategori</th>
            <th>Skade</th>
            <th>Pris</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the cars and populate the table rows -->
        <tr th:each="damages:${category}">
            <td th:text="${damages.category_id}"></td>
            <td th:text="${damages.damage_name}"></td>
            <td th:text="${damages.price}"></td>
        </tr>
        </tbody>
    </table>

    <script>
        const searchInput = document.getElementById('searchInput');
        const rows = document.querySelectorAll('tbody tr');

        searchInput.addEventListener('input', function() {
            const searchText = searchInput.value.toLowerCase();

            rows.forEach(function(row) {
                const text = row.innerText.toLowerCase();

                if (text.includes(searchText)) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    </script>


    <div class="footer">
    <p>© 2023 BA - Bil Abonnementen. All rights reserved.</p>
</div>
</body>
</html>