<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="tilføj bil">
    <h1>Tilføj skader</h1>
    <form method="post" action="/createNewDamage">

        <label for="damage_name">Skade:</label>
        <input type="text" id="damage_name" name="damage_name" required><br><br>

        <label for="price">Pris:</label>
        <input type="text" id="price" name="price" required><br><br>

        <input class="AddDamageSubmit" type="submit" value="tilføj skade">
    </form>
</div>
</body>
</html>